In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
# define columns to use from our raw data
player_cols = [
    "season", "player_id", "player", "experience", "tm", "g", "mp", "x3p","x3pa",
    "x2p", "x2pa", "ft", "fta", "orb", "drb", "ast", "stl", "blk", "pts"
]
team_cols = ["season", "abbreviation", "w", "l"]
all_star_cols = ["player", "season"]

In [3]:
# load csv data
players = pd.read_csv("../data/raw/Player Totals.csv", usecols=player_cols)
teams = pd.read_csv("../data/raw/Team Summaries.csv", usecols=team_cols)
all_stars = pd.read_csv("../data/raw/All-Star Selections.csv", usecols=all_star_cols)

# filter out 2025 (data doesn't include 2025 all-star selections) and pre-merger era
players = players[(players["season"] >= 1977) & (players["season"] < 2025)]
teams = teams[(teams["season"] >= 1977) & (teams["season"] < 2025)]
all_stars = all_stars[(all_stars["season"] >= 1977) & (all_stars["season"] < 2025)]

In [4]:
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24955 entries, 719 to 25673
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      24955 non-null  int64
 1   player_id   24951 non-null  float64
 2   player      24955 non-null  object
 3   experience  24955 non-null  float64
 4   tm          24955 non-null  object
 5   g           24955 non-null  int64
 6   mp          24955 non-null  float64
 7   x3p         23880 non-null  float64
 8   x3pa        23880 non-null  float64
 9   x2p         24955 non-null  int64
 10  x2pa        24955 non-null  int64
 11  ft          24955 non-null  int64
 12  fta         24955 non-null  int64
 13  orb         24955 non-null  float64
 14  drb         24955 non-null  float64
 15  ast         24955 non-null  int64
 16  stl         24955 non-null  float64
 17  blk         24955 non-null  float64
 18  pts         24955 non-null  int64
dtypes: float64(9), int64(8), object(2)
memory usage: 3.8+ MB

In [5]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1368 entries, 31 to 1398
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        1368 non-null   int64
 1   abbreviation  1320 non-null   object
 2   w             1320 non-null   float64
 3   l             1320 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.4+ KB

In [6]:
all_stars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1202 entries, 0 to 1201
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  1202 non-null   object
 1   season  1202 non-null   int64
dtypes: int64(1), object(1)
memory usage: 28.2+ KB

Here we'll do some very basic cleaning of initial NaN values and typecasting.

In [7]:
# drop rows with select missing data
players = players.dropna(subset=["player_id"])
teams = teams.dropna()

# fill NaN with 0
players['x3p'] = players['x3p'].fillna(0)
players['x3pa'] = players['x3pa'].fillna(0)

# convert columns to int
player_int_cols = ['player_id', 'experience', 'g', 'x3p', 'x3pa', 'x2p', 'x2pa', 'ft', 'fta', 'orb', 'drb', 'ast', 'stl', 'blk', 'pts']
players[player_int_cols] = players[player_int_cols].astype('int')
teams[['w', 'l']] = teams[['w', 'l']].astype('int')

# check for remaining nan values
players.isnull().sum().sum(), teams.isnull().sum().sum(), all_stars.isnull().sum().sum()

(np.int64(0), np.int64(0), np.int64(0))

We need to clean up multiple player-season rows for players who were on more than one team in a season.
   - Change the `tm` value to whichever team the player played most games for that season
   - Discard per-team stat rows for player-seasons with multiple rows

In [8]:
# create a dictionary of teams and games played by player-season
player_team_data = defaultdict(lambda: defaultdict(list))
for _, row in players.iterrows():
    if row["tm"] == "TOT":
        continue  # skip totaled rows
    season = row["season"]
    player_id = row["player_id"]
    tm = row["tm"]
    g = row["g"]

    player_team_data[season][player_id].append({"tm": tm, "g": g})

# set primary team in any player-season aggregated rows (total rows for players who had multiple teams in a season)
for idx, row in players.iterrows():
    if row["tm"] == "TOT":
        primary_tm = max(player_team_data[row["season"]][row["player_id"]], key=lambda x: x["g"])["tm"]
        players.loc[idx, "tm"] = primary_tm

# keep only the total row for player-seasons with multiple entries (keeping row with the highest minutes played)
players = players.loc[players.groupby(["player_id", "season"])["mp"].idxmax()].reset_index(drop=True)

Because the All-Star Selections data doesn't include `player_id`, we need to check for players of the same name in the same season. If two players have the same name, and one of the players is named to the All-Star team, it could cause a misclassification. Let's address this in the cells below by making a list of conflicting names per season and then checking that against the All-Star Selections data.

In [9]:
# check for players of the same name playing in the same season
name_id_check = players.groupby(["season", "player"])["player_id"].nunique()
conflicts = name_id_check[name_id_check > 1]

# check if conflicting player names are included in all-star list
conflict_names = conflicts.index.get_level_values("player").unique()
conflict_all_stars = all_stars[all_stars["player"].isin(conflict_names)]

print(conflicts, '\n\n', conflict_all_stars)

season  player
1979    George Johnson     2
1980    George Johnson     2
1981    George Johnson     2
1982    Eddie Johnson      2
        George Johnson     2
1983    Eddie Johnson      2
        George Johnson     2
1984    Eddie Johnson      2
1985    Charles Jones      2
        Eddie Johnson      2
        George Johnson     2
1986    Charles Jones      2
        Eddie Johnson      2
        George Johnson     2
1987    Eddie Johnson      2
1988    Charles Jones      2
1989    Charles Jones      2
1990    Charles Smith      2
1991    Charles Smith      2
1995    Michael Smith      2
1996    Charles Smith      2
2008    Marcus Williams    2
2009    Marcus Williams    2
2013    Chris Johnson      2
2014    Tony Mitchell      2
Name: player_id, dtype: int64

              player  season
1086  Eddie Johnson    1981
1113  Eddie Johnson    1980

Luckily for our purposes, the two years Eddie Johnson was named to the All-Star team occurred before the other Eddie Johnson joined the league. We won't have any All-Star misclassifications based on shared names. <br/><br/>
Next, let's ensure there are no player-seasons in the all_star data that don't appear in the player data.

In [10]:
# create sets of player-season pairs and print the all_star -> player difference
player_keys = set(zip(players['season'], players['player']))
all_star_keys = set(zip(all_stars['season'], all_stars['player']))
missing = all_star_keys - player_keys

print(missing)

{(1992, 'Magic Johnson')}

In 1992, Magic Johnson was named to the All-Star team after retiring at the end of the previous season due to contracting HIV. It was a cool moment for the league to recognize one of their all-time greats by asking him to participate in the All-Star game, but it is not a useful data point for our purposes. We'll remove the 1992 Magic Johnson All-Star selection entry.

In [11]:
# remove Magic's 1992 All-Star appearance
all_stars = all_stars[~((all_stars['season'] == 1992) & (all_stars['player'] == 'Magic Johnson'))]

Now that our initial dataframes are clean and consistent, we will combine them into a consolidated, clean dataframe.

In [12]:
# create a clean, merged dataframe by adding team wins to each player-season
clean_data = players.merge(
    teams[['season', 'abbreviation', 'w']],
    left_on=['season', 'tm'],
    right_on=['season', 'abbreviation'],
    how='left'
).drop(columns='abbreviation')

In [13]:
# add all_star column and populate (1 if player-season resulted in All-Star selection else 0)
all_star_set = set(zip(all_stars['season'], all_stars['player']))
clean_data['all_star'] = clean_data.apply(
    lambda row: 1 if (row['season'], row['player']) in all_star_set else 0,
    axis=1
)

Now we'll finish getting the data ready for our random forest classification model. Here are a few decisions I've made and the justification for each:
- I have decided to use season totals, rather than per-game statistics. Per-game stats are inferrable from the existing data, and season totals may correllate better with All-Star selection anyway, as star players tend to have high usage rates.
- I am not adding shooting percentage columns, as these can be calculated from the existing data and would simply be redundant.
- I am keeping the `tm` column, because the market a team is in may be relevant, particularly in fan and media All-Star voting.
- I am keeping the `season` column. This was the most difficult decision, but I ultimately decided that it would be preferrable for the model to have time-based context. The stats that were important in 1980 may not be the stats that were highly valued in 2023.

In [14]:
# drop irrelevant columns for modeling and encode team
X = clean_data.drop(columns=['player', 'player_id', 'all_star'])
X = pd.get_dummies(X, columns=['tm'], drop_first=True)

# set target
y = clean_data['all_star']

Now we just need to save our data so we'll have nice, clean data for use in our modeling notebook.

In [16]:
# save dataframes as pickle in the clean folder
X.to_pickle('../data/clean/X_data.pkl')
y.to_pickle('../data/clean/y_data.pkl')

# also keeping clean_data as a csv for reference in case I want to inspect the data manually in excel (for instance)
clean_data.to_csv('../data/clean/clean_data_reference.csv', index=False)